<div class="container mt-5">
  <div class="row col-6">
    <h2>Add a new task</h2>
    <%= render "form", task: @task %>
    <div class="back my-3"><%= link_to 'Back to list', tasks_path %></div>
  </div>
</div>
